<div class="container">
        <div class="row" >
          
                <div class="col-sm-3">
                        <div class=" shadow-sm mt-5 bg-white">
                            <h2>hp</h2>
                            <br>
                            <img class="card-img-top" src="../../../assets/home.jpg" style="width:100%">
                            <br>
                            <div class="Profile-body">
                                <button id="sendMessageButton" class="btn btn-secondry btn-xxl text-uppercase"  style="margin-left:0%" type="submit">
                                    Product Details
                                           </button>
                            </div>
                        </div>
                    </div> <div class="col-sm-3">
                            <div class=" shadow-sm mt-5 bg-white">
                                <h2>Lenovo</h2>
                                <br>
                                <img class="card-img-top" src="../../../assets/home.jpg" style="width:100%">
                                <br>
                                <div class="Profile-body">
                                    <button id="sendMessageButton" class="btn btn-secondry btn-xxl text-uppercase"  style="margin-left:0%" type="submit">
                                        Product Details
                                               </button>
                                </div>
                            </div>
                        </div> <div class="col-sm-3">
                                <div class=" shadow-sm mt-5 bg-white">
                                    <h2>Apple</h2>
                                    <br>
                                    <img class="card-img-top" src="../../../assets/home.jpg" style="width:100%">
                                    <br>
                                    <div class="Profile-body">
                                        <button id="sendMessageButton" class="btn btn-secondry btn-xxl text-uppercase"  style="margin-left:0%" type="submit">
                                            Product Details
                                                   </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                    <div class=" shadow-sm mt-5 bg-white">
                                        <h2>Toshipa</h2>
                                        <br>
                                        <img class="card-img-top" src="../../../assets/home.jpg" style="width:100%">
                                        <br>
                                        <div class="Profile-body">
                                            <button id="sendMessageButton" class="btn btn-secondry btn-xxl text-uppercase"  style="margin-left:0%" type="submit">
                                                Product Details
                                                       </button>
                                        </div>
                                    </div>
                                </div>
        </div> 
        </div>
