<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink=''>Home</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" routerLink='/category'>category</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" routerLink='/cart'>cart</a>
      </li>
   
  
      <li class="nav-item">
        <a class="nav-link" routerLink='/signup'>signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/login'>login</a>
      </li>
  
    </ul>
  </nav>



