<nav class="navbar navbar-expand-sm sticky-top" id="mainNav" style="background-color: palevioletred;">
  
      <a class="navbar-brand" href="">WAMI</a>
    
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink=''>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='about'>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/cart'>cart</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink='/signup'>signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/login'>login</a>
        </li>
      </ul>
    </nav>