<div class="container">
<div class="row" >
  
        <div class="col-sm-3">
                <div class=" shadow-lg mt-5 bg-white">
                    <h2>Samsung</h2>
                    <br>
                    <img class="card-img-top" src="../../../assets/home.jpg" style="width:100%">
                    <br>
                    <div class="Profile-body">
                        <button id="sendMessageButton" class="btn btn-primary  btn-xxl text-uppercase"  style="background-color:pink"  type="submit">
                            Product Details
                                   </button>
                    </div>
                </div>
            </div> <div class="col-sm-3">
                    <div class=" shadow-lg mt-5 bg-white">
                        <h2>Huawei</h2>
                        <br>
                        <img class="card-img-top" src="../../../assets/home.jpg" style="width:100%">
                        <br>
                        <div class="Profile-body">
                            <button id="sendMessageButton" class="btn btn-primary  btn-xxl text-uppercase"  style="background-color:blueviolet"  type="submit">
                                Product Details
                                       </button>
                        </div>
                    </div>
                </div> <div class="col-sm-3">
                        <div class=" shadow-lg mt-5 bg-white">
                            <h2>Nokia</h2>
                            <br>
                            <img class="card-img-top" src="../../../assets/home.jpg" style="width:100%">
                            <br>
                            <div class="Profile-body">
                                <button id="sendMessageButton" class="btn btn-primary  btn-xxl text-uppercase"  style="background-color:purple" type="submit">
                                    Product Details
                                           </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                            <div class=" shadow-lg mt-5 bg-white">
                                <h2>Lenovo</h2>
                                <br>
                                <img class="card-img-top" src="../../../assets/home.jpg" style="width:100%">
                                <br>
                                <div class="Profile-body">
                                    <button id="sendMessageButton" class="btn btn-primary btn-xxl text-uppercase"  style="background-color:plum"  type="submit">
                                        Product Details
                                               </button>
                                </div>
                            </div>
                        </div>
</div> 
</div>
<br>
<br>
<br>
<br>
