<!-- Services -->
<section class="page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      </div>
    </div>



    <nav class="navbar navbar-expand-sm ">
      
        <ul>
            <li class="nav-item">
              <a class="nav-link" routerLink='/mobiles'>Mobile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/labtop'>Labtop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/camera'>Camera</a>
            </li>
        
          </ul>
        </nav>

    
  </div>
</section>

<section class="bg-light page-section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-6 col-sm-3 text-center">
        <h2 class="section-heading text-uppercase">Mobiles</h2>
      </div>
    </div>
    <br>
    <div class="row">
    
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" id="imgCat" data-toggle="modal" href="#portfolioModal1">
          
          <img class="img-fluid" src="../../../assets/apple.jpg" alt="">
        </a>
        <br>
        <div class="portfolio-caption">
          <p class="text-muted">Apple</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" id="imgCat" data-toggle="modal" href="#portfolioModal1">
        
          <img class="img-fluid" src="../../../assets/infinx.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <p class="text-muted">infinx</p>
        </div>
      </div><div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" id="imgCat" data-toggle="modal" href="#portfolioModal1">
         
          <img class="img-fluid" src="../../../assets/oppo.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <p class="text-muted">Oppo</p>
        </div>
      </div><div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" id="imgCat" data-toggle="modal" href="#portfolioModal1">
          
          <img class="img-fluid" src="../../../assets/relmy2.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <p class="text-muted">Relmy</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" id="imgCat" data-toggle="modal" href="#portfolioModal1">
         
          <img class="img-fluid" src="../../../assets/samsung blue.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <p class="text-muted">Samsung</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" id="imgCat" data-toggle="modal" href="#portfolioModal1">
         
          <img class="img-fluid" src="../../../assets/shawmy.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <p class="text-muted">Shawmy</p>
        </div>
      </div>
      <br>
    
     
     
    </div>
  </div>
</section>

<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">
                apple
              </h2>
              <p class="item-intro text-muted">5,229.00 L.E
                <br>
                
                الأسعار تشمل ضريبة القيمة المضافة.</p>
              <img class="img-fluid d-block mx-auto" src="../../../assets/apple.jpg" alt="">
              معلومات السلعة
              العلامة التجارية اوبو الشبكة  التقنية: GSM / HSPA / LTE نطاق شبكة الجيل الثاني: GSM 850 / 900 / 1800 / 1900 - شريحة SIM 1  وشريحة SIM 2 نطاق شبكة الجيل الثالث: HSDPA 850 / 900 / 2100 نطاق شبكة الجيل الرابع: نطاق شبكة ال تي اي 1(2100)، 3(1800)، 5(850)، 8(900)، ...
              <br>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

