<p>signup works!</p>
<div class="container">
   <form action="/login" method="post" #userForm="ngForm">
       
    {{userForm.value |json}}
       
       
       <div class="form-group">
            <label>Name :</label>
            <input type="text" class="form-control"  name="name" [(ngModel)]="userModel.name">
           {{userModel|json}}
        </div>
       
       
        <div class="form-group">
        <label>telephone :</label>
        <input type="tel" class="form-control" name="phone"          [(ngModel)]="userModel.phone">
        </div>
       
       
       
        <div class="form-group">
        <label>Email :</label>
        <input type="email" class="form-control" name="email"  [(ngModel)]="userModel.email">
    </div>
       
       
       
        <div class="form-group">
          <label>Password :</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="userModel.password">
        </div>
       
       
       
       <input type="submit" class="btn btn-primary" value="Submit"> 

    
   </form>
</div>
